<label>Name:
  <input type="text" name="input" ng-model="example.text"
       ng-pattern="example.word" required ng-trim="false">
</label>
<label>Age:
  <input type="text" name="input" ng-model="example.text"
       ng-pattern="example.word" required ng-trim="false">
</label>
<ng-view></ng-view>
<name-directive></name-directive>

<a href="#/You">
  <button type="button" class="familyMembers">You</button>
</a>
<a href="#/Children">
  <button type="button" class="familyMembers">Children</button>
</a>
<a href="#/Mother">
  <button type="button" class="familyMembers">Mother</button>
</a>
<a href="#/Father">
  <button type="button" class="familyMembers">Father</button>
</a>
<a href="#/Siblings">
  <button type="button" class="familyMembers">Siblings</button>
</a>
<a href="#/Misc">
  <button type="button" class="familyMembers">Misc.</button>
</a>
