<a href="#/"><img src="LeavittMedicalPhoto.jpg"/></a>

<md-tabs>

  <md-tab label="Personal">
    <!-- Patient Info -->
    <div>

    <md-content layout="column" layout-sm="column">
      <md-input-container style="50%">
        <label>Patient Name</label>
        <input ng-model="patient.personal.name">
      </md-input-container>

      <md-input-container style="50%">
        <label>Patient Age</label>
        <input type = "Number" ng-model="patient.personal.age">
      </md-input-container>

      <md-input-container style="50%">
        <label>Gender</label>
        <md-select ng-model="patient.personal.sex">
          <md-option ng-repeat = 'Gender in sex' ng-value="Gender.type">{{Gender.type}}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container style="50%">
        <label>Cancer Type</label>
        <md-select ng-model="patient.personal.cancerType">
          <md-option ng-repeat = 'Cancer in Cancers' ng-value="Cancer.type">{{Cancer.type}}</md-option>
        </md-select>
      </md-input-container>
      <!-- <div class="md-display-1">Patient Info</div> -->
      <!-- <input placeholder="Name" type="text" ng-model="patient.name" />
      <input placeholder="Age" type="text" ng-model="patient.age" />
      <button ng-click="saveData()">Hacker Erik is a serial killer</button> -->
    </md-content>
      </div>
  </md-tab>



  <md-tab label="Parents">
        <!-- <div ng-repeat="(idx, parent) in patient.parent"> -->
            <div>
          <md-content layout="colunm">
            <md-input-container style="40%">
              <label>Mother Name</label>
              <input ng-model="patient.Mother.name">
            </md-input-container>

            <md-input-container style="40%">
              <label>Mother Age</label>
              <input type = "Number" ng-model="patient.Mother.age">
            </md-input-container>

            <!-- <md-input-container style="40%"> -->
              <md-input-container style="40%">
                <label>Gender</label>
                <md-select ng-model="patient.Mother.sex">
                  <md-option ng-repeat = 'Gender in sex' ng-value="Gender.type">{{Gender.type}}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container>
              <label>Cancer Type</label>
              <md-select ng-model="patient.Mother.cancerType">
                <md-option ng-repeat = 'Cancer in Cancers' ng-value="Cancer.type">{{Cancer.type}}</md-option>
              </md-select>
            </md-input-container>
            <!-- <md-button ng-click="removeParent(idx)">
              Remove Parent
            </md-button> -->
          </md-content>
        </div>

        <div>
      <md-content layout="colunm">
        <md-input-container style="40%">
          <label>Father Name</label>
          <input ng-model="patient.Father.name">
        </md-input-container>

        <md-input-container style="40%">
          <label>Father Age</label>
          <input type = "Number" ng-model="patient.Father.age">
        </md-input-container>

        <!-- <md-input-container style="40%"> -->
          <md-input-container style="40%">
            <label>Gender</label>
            <md-select ng-model="patient.Father.sex">
              <md-option ng-repeat = 'Gender in sex' ng-value="Gender.type">{{Gender.type}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
          <label>Cancer Type</label>
          <md-select ng-model="patient.Father.cancerType">
            <md-option ng-repeat = 'Cancer in Cancers' ng-value="Cancer.type">{{Cancer.type}}</md-option>
          </md-select>
        </md-input-container>
        <!-- <md-button ng-click="removeParent(idx)">
          Remove Parent
        </md-button> -->
      </md-content>
    </div>
  </md-tab>




  <md-tab label="Siblings">
    <div ng-repeat="(idx, sibling) in patient.siblings track by $index">
        <div>
          <md-content layout="row" layout-sm="">
            <md-input-container style="width: 22%">
              <label>Sibling Name</label>
              <input ng-model="patient.sibling.name">
            </md-input-container>


            <md-input-container style="width: 22%">
              <label>Sibling Age</label>
              <input type = "Number" ng-model="patient.sibling.age">
            </md-input-container>


              <md-input-container style="width: 22%">
                <label>Gender</label>
                <md-select ng-model="patient.sibling.sex">
                  <md-option ng-repeat = 'Gender in sex' ng-value="Gender.type">{{Gender.type}}</md-option>
                </md-select>
              </md-input-container>


            <md-input-container style="width: 22%">
              <label>Cancer Type</label>
              <md-select ng-model="patient.sibling.cancerType">
                <md-option ng-repeat = 'Cancer in Cancers' ng-value="Cancer.type">{{Cancer.type}}</md-option>
              </md-select>
            </md-input-container>
            <md-button ng-click="removeSibling(idx)">
              Remove Sibling
            </md-button>
          </md-content>
        </div>
    </div>
  <md-button ng-click="addSibling()" class="md-primary md-raised">
    Add a Sibling
  </md-button>
  </md-tab>



  <md-tab label="Children">
    <div ng-repeat="(idx, child) in patient.child">
        <div>
          <md-content layout="row" layout-sm="row">

            <md-input-container style="width:22%">
              <label>Child Name</label>
              <input ng-model="patient.child.name">
            </md-input-container>

            <md-input-container style="width:22%">
              <label>Child Age</label>
              <input type = "Number" ng-model="patient.child.age">
            </md-input-container>


              <md-input-container style="width:22%">
                <label>Gender</label>
                <md-select ng-model="patient.child.sex">
                  <md-option ng-repeat = 'Gender in sex' ng-value="Gender.type">{{Gender.type}}</md-option>
                </md-select>
              </md-input-container>

            <md-input-container style="width:22%">
              <label>Cancer Type</label>
              <md-select ng-model="patient.child.cancerType">
                <md-option ng-repeat = 'Cancer in Cancers' ng-value="Cancer.type">{{Cancer.type}}</md-option>
              </md-select>
            </md-input-container>

            <md-button ng-click="removeChild(idx)">
              Remove Child
            </md-button>
          </md-content>
        </div>
    </div>
  <md-button ng-click="addChild(idx)" class="md-primary md-raised">
    Add a Child
  </md-button>
  </md-tab>



  <md-tab label="Extended">
    <div ng-repeat="(idx, relative) in patient.relatives">
        <div>
          <md-content layout="row" layout-sm="row">
            <md-input-container style="width:22%">
              <label>Relative Name</label>
              <input ng-model="patient.relative.name">
            </md-input-container>

            <md-input-container style="width:22%">
              <label>Relative Age</label>
              <input type = "Number" ng-model="patient.relative.age">
            </md-input-container>


              <md-input-container style="width:22%">
                <label>Gender</label>
                <md-select ng-model="patient.relative.sex">
                  <md-option ng-repeat = 'Gender in sex' ng-value="Gender.type">{{Gender.type}}</md-option>
                </md-select>
              </md-input-container>

            <md-input-container style="width:22%">
              <label>Cancer Type</label>
              <md-select ng-model="patient.relative.cancerType">
                <md-option ng-repeat = 'Cancer in Cancers' ng-value="Cancer.type">{{Cancer.type}}</md-option>
              </md-select>
            </md-input-container>
            <md-button ng-click="removeRelative(idx)">
              Remove Relative
            </md-button>
          </md-content>
        </div>
    </div>
  <md-button ng-click="addRelative()" class="md-primary md-raised">
    Add a Relative
  </md-button>
  </md-tab>
</md-tabs>



<!-- Children -->

<md-button ng-click="saveData()" class="md-accent md-hue-1" style="width: 100%; margin-bottom: 0;">
  Save
</md-button>
<!-- Mother -->

<!-- Father -->

<!-- Siblings -->

<!-- Misc. -->

<br>
{{cancerType}}
</br>
